*{
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}
.hero{
  width: 100%;
  height: 650px;
  background-position: center;
  background-size: cover;
  background-image: url('wall3.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.hero-container{
  width: 750px;
}
.hero-container h1 {
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
  font-size: 65px;
  margin-bottom: 10px;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.hero-container p {
  margin-top: 20px;
  letter-spacing: 1px;
  color: white;
  font-size: 22px;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}
.hero-btns{
  margin-top: 50px;
}
.hero-btns a {
  font-weight: 700;
  padding: 10px 30px;
  border: 2px solid #e74c3c;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  color: white;
  transition: all 0.3s ease-in-out;
}
.hero-btns a:hover{
  background-color: white;
  color: black;
}
.hero-btns a:nth-child(1){
  margin-right: 5px;
}
.navigation{
  z-index: 9999;
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
}
.navigation h1 {
  float: left;
  font-size: 15px;
  margin-left: 10px;
  letter-spacing: 3px;
  font-weight: 700;
  color: white;
}
.navigation ul {
  float: right;
  position: relative;
  top: -2px;
}
.navigation ul li {
  display: inline-block;
}
.navigation li a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 15px 15px;
}
.services{
  width: 100%;
  display: flex;
}
.services-box{
  width: 25%;
  padding: 50px;
  background-color: white;
  box-sizing: border-box;
  border-right: 2px solid #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.services-box a:hover{
  background-color: #e74c3c;
  color: white;
}
.services img {
  z-index: 1;
}
.services-box h1{
  color: #e74c3c;
  letter-spacing: 1px;
  font-size: 35px;
  margin: 20px 0px;
}
.services-box p {
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #282828;
}
.services-box a {
  text-decoration: none;
  color: #e74c3c;
  border: 2px solid #e74c3c;
  padding: 10px 30px;
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.contact{
  width: 100%;
  height: auto;
  padding: 70px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-image: url('backy.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.contact img{
  margin-bottom: 20px;
}
.contact p {
  width: 700px;
  font-size: 20px;
  color: white;
  line-height: 30px;
}
.contact li {
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.contact a {
  color: white;
  text-decoration: none;
  margin-top: 25px;
  font-weight: 700;
  border: 2px solid white;
  padding: 7px 30px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.contact a:hover{
  cursor: pointer;
  background-color: white;
  color: #DB493C;
}
.last{
  width: 100%;
  height: 180px;
  background-color: #303030;
  box-sizing: border-box;
  position: relative;
}
.last h1 {
  font-size: 29px;
  letter-spacing: 2px;
  color: white;
  font-weight: 700;
  position: absolute;
  left: 250px;
  top: 60px;
}
.last p {
  font-weight: 500;
  font-size: 17px;
  color: #ecf0f1;
  letter-spacing: 2px;
  line-height: 27px;
  position: absolute;
  left: 252px;
  top: 100px;
}
.last a {
  text-decoration: none;
  color: #303030;
  background-color: white;
  padding: 13px 30px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  position: absolute;
  right: 250px;
  top: 72px;
}
.contact h1 {
  color: white;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .services{
    flex-direction: column;
  }
  .services-box{
    border-right: 0px;
    border-top: 2px solid #ecf0f1;
    width: 100%;
  }
  .services-box a{
    padding: 15px 30px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 1000px) {
  .navigation{
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .hero{
    padding: 30px;
    box-sizing: border-box;
    background-position: center;
  }
}
@media screen and (max-width: 500px) {
  .hero-btns{
    display: flex;
    flex-direction: column;
  }
  .hero h1{
    font-size: 40px;
  }
  .hero p{
    font-size: 17px;
    line-height: 25px;
  }
  .hero-btns a{
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 5px;
  }
  .hero-btns a:nth-child(1) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 850px) {
  .contact{
    height: auto;
    padding: 50px;
    box-sizing: border-box;
    background-attachment: inherit;
  }
  .contact p {
    width: auto;
  }
}
@media screen and (max-width: 1450px) {
  .last a{
    right: 50px;
    top: 72px;
  }
  .last h1, .last p{
    left: 50px;
  }
}
@media screen and (max-width: 980px) {
  body{
    background-color: #303030;
  }
  .last{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
  }
  .last h1, .last p, .last a{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    margin-top: 15px;
  }
  .last a{
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
  }
}
.test{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.test h1 {
  margin: 50px;
  font-size: 40px;
  color: #444;
}
.wrapper{
  display: grid;
  padding: 50px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
  height: auto;
}
.ge{
  border: 2px solid #ecf0f1;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 35px;
}
.ge img{
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  margin-left: auto;
  margin-right: auto;
}
.ge p {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #333;
  text-align: center;
}
.ge h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}
.ge a {
  color: white;
  text-decoration: none;
  padding: 7px 30px;
  border-radius: 30px;
  background-color: #ecf0f1;
  color: #333;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 150px;
  text-align: center;
  bottom: -15px;
}
@media screen and (max-width:1550px){
	.wrapper{
		grid-template-columns:2fr 2fr;
	}
#lge{
  margin-top: 40px;
  margin-bottom: 30px;
}
}

@media screen and (max-width: 700px) {
  .wrapper{
    grid-template-columns: 1fr;
  }
  .test h1{
    margin: 40px 0px 50px 25px;
  }
  #lge, #lge2 {
    margin-top: 40px;
  }
  #lge{
    margin-bottom: 30px;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  /*#lge{
    margin-top: 0px;
    grid-column-start: 3;
    grid-column-end: 3;
  }*/
}
#testbtn:hover{
  cursor: pointer;
}
.corporate-class{
	width:100%;
	height:auto;
	padding:30px;
	box-sizing:border-box;
	text-align:center;
	background-color:#252525;
}
.corporate-class p {
	color:white;
	font-size:12px;
	letter-spacing:2px;
	line-height:25px;
}





